/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

input:checked + svg {
  	display: block;
  }

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 */

.btn {
	width: 370px;
	@apply block py-5 text-2xl bg-x_green_lightest outline-none;
}
.btn-sm {
    width: 300px;
}
.btn-xs {
    width: 260px;
}
.btn:focus {
	@apply outline-none;
}
.btn-xbox {
	@apply text-black font-amsi uppercase;
}
.btn-alt {
	@apply bg-x_green_light;
}
.btn-ghost {
	@apply bg-transparent border-white border-2;

}
.btn-ghost_green {
    @apply bg-transparent border-x_green_lightest border-2 text-x_green_lightest;
}
/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 */

[x-cloak] {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 2px solid #FFFFFF;
  -webkit-text-fill-color: #FFFFFF;
  -webkit-box-shadow: none;
  background-color: transparent;
  transition: background-color 5000s ease-in-out 0s;
}

//Font-Faces
@font-face {
    font-family: IndustryBlack;
    src: url('/fonts/Industry-Black.ttf') format('truetype');
}

@font-face {
    font-family: AmsiPro;
    src: url('/fonts/AmsiPro-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: AmsiPro;
    src: url('/fonts/AmsiPro-Black.ttf') format('truetype');
    font-weight: bolder;
}

body {
    /*color: #FFFFFF;*/
    text-transform: uppercase;
    max-width: 100vw;
    min-height: 100%;
    height: 100vh;
    background-color: theme('colors.x_green');
    background-image: radial-gradient(circle at 50% 50%, theme('colors.x_green'), #000000 95%);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

body.dark {
    background: #000;
}

body.registro {
    background-color: #000;
    background-image: radial-gradient(circle at 50% 50%, theme('colors.x_green'), #000000 45%);
}

.main-content {
    flex-grow: 1;
}

header, footer, .main-content {
    flex-shrink: 0;
}

@media (min-width: 768px) {

    .xbox_reward {
        max-width: 368px;
    }
    .gamepass_reward {
        max-width: 262px;
    }
}


//Trivias
.trivia_img {
    width: 300px;
    height: 300px;
    background: #000 url(../images/premio_xbox.png) no-repeat;
    background-position: -315px center;
    background-size: cover;
    position: relative;
}

.trivia_img::before,
.trivia_img.passed::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.7);
}

.trivia_img.disable::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(43,60,44,.8);
}

.trivia_img.master {
    width: 380px;
    background-position: -225px center;
}

@media (min-width: 768px) {

    .trivia_img {
        width: 230px;
        height: 230px;
    }
}

@media (min-width: 1024px) {

    .trivia_img {
        width: 290px;
        height: 290px;
    }
}


.text-outline span {
    /*-webkit-text-stroke: 2px #00d500;*/
    text-shadow: -2px 2px 0 #00d500,
                  2px 2px 0 #00d500,
                  2px -2px 0 #00d500,
                 -2px -2px 0 #00d500;
}

/*
@media(hover: hover) {
    .text-outline:hover span {
        color: #fff;
        text-shadow: unset;
    }

    .text-outline:active span {
        color: #000;
        text-shadow: -2px 2px 0 #00d500,
                    2px 2px 0 #00d500,
                    2px -2px 0 #00d500,
                    -2px -2px 0 #00d500;
    }
}
*/

.x-btn::before {
    display:block;
    content: '';
    width: 24px;
    height: 24px;
    background: url('../images/x_boton.svg') no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: 1;
}
.x-btn::after {
    display:block;
    content: '';
    width: 24px;
    height: 24px;
    background: #00d500;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    transition: all .2s ease-in;
}
.x-btn:hover::after {
    background: #24A112;
}

/* Modal */
.contenedor-modal {
    margin-top: 10rem;
}

@media (min-width: 380px) {

    .contenedor-modal {
        margin-top: 3rem;
    }
}

@media (min-width: 768px) {

    .contenedor-modal {
        margin-top: 0;
    }
}


/**
 * Tooltip Styles
 */

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  /* Hide the tooltip content by default */
  [data-tooltip]:before,
  [data-tooltip]:after {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  /* Position tooltip above the element */
  [data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 11px;
    line-height: 1.2;
    text-transform: initial;
  }

  /* Triangle hack to make tooltip look like a speech bubble */
  [data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  /* Show tooltip content on hover */
  [data-tooltip]:hover:before,
  [data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
    transition: all 0.6s cubic-bezier(1, 0.01, 0, 1.02);;
  }


/* Loader */
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }



/* Cortina */
:root {
	--transform-value: -100%;
	--animation-duration: 1s;
	--animation-ease: ease-in;
}

@keyframes initialAnimation-horizontal {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(var(--transform-value));
    }
}

[data-animation*='first'] div:first-child, [data-animation*='first'] div:last-child {
	position: fixed;
	width: 50vw;
	height: 100vh;

	top: 0;
	background: black; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	z-index: 12345;
}

[data-animation*='first'] div:first-child {
    left: 0;

    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}
[data-animation*='first'] div:last-child {
    right: 0;

    --transform-value: 100%;
    animation: var(--animation-duration) var(--animation-ease) var(--animation-duration) 1 forwards initialAnimation-horizontal;
}


/* Glitch effect */
$filters: (
    saturate: (
        units: '',
        range: (
            min: 1,
            max: 10
        ),
        probability: 1/5
    ),
    hue-rotate: (
        units: 'deg',
        probability: 1,
        range: (
            min: 0,
            max: 360
        ),
    ),
    invert: (
        units: '',
        probability: 1/30,
        range: (
            min: 1,
            max: 1
        ),
    ),
    contrast: (
        units: '',
        probability: 1/10,
        range: (
            min: 1,
            max: 10
        ),
    ),
    brightness: (
        units: '%',
        probability: 1/20,
        range: (
            min: 25,
            max: 75
        ),
    )
);

.glitch {
    background: url('../images/glitch.png') no-repeat center center;
    background-size: cover;
    animation: spazz 7s steps(1) infinite;
    background-blend-mode: multiply;
}

@keyframes spazz {
    @for $i from 0 through 100 {
        @if(random(100) < 66.6) {
            #{$i}% {
                $filter_css_value: '';
                @each $filter, $filter_props in $filters {
                    @if((random(100) / 100) < map-get($filter_props, probability)) {
                        $range: map-get($filter_props, range);
                        $min: map-get($range, min);
                        $max: map-get($range, max);
                        $filter_css_value: $filter_css_value + ' #{$filter}(#{random(100) / 100 * ($max - $min) + $min}#{map-get($filter_props, units)})';
                    }
                }
                filter: unquote($filter_css_value);
                background-color: hsl(random(360), 100%, 70%);
                transform: translate(#{random(30) - 15}px, #{random(30) - 15}px) scale(random(20) / 100 + 1.05);
            }
        }
    }
}

